body {
    width: 100%;
    height: 100%;
}

#uiContainer{
    float: left;
    background-color: #faa747;
    width: 18%;
}

#uiDiv {
    float: left;
}

#mapHolder {
    display: inline-block;
    width: 70%;
    height: 50%;
    float: left;

}
#pastSearches {
    float: left;
    background-color: #faa747; 
}
#additionalInfoContainer {
    width: 100%;
    background-color: #faa747;
    float: left;
}
#currentSelection{

}
#sunriseSunsetContianer{

}
#googlePlacesResultsContainer{

}



